/wp-admin
/wp-includes
/wp-content/plugins
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentytwo
/wp-content/themes/myResume/assets/build


/frontend/node_modules

auth.env

