/wp-admin
/wp-includes
/wp-content/plugins
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentytwo

wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-docker.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

/frontend/node_modules

auth.env