/* 
General styles
*/
:root {
    --teapot-teal: #5eaaa7;
    --coffee-brown: #090201;
    --coffee-reflection: #776d6c;
    --daisy-yellow: #9ac112;
    --leafy-green: #385e26;
    --notebook-gray: #a4a4a4;
    --background-white: #eeeeee;
}

* {
    box-sizing: border-box;
}


ul {
    list-style: none;
}

body {
    padding-inline: 1rem;
    margin: 0rem;
    display: grid;
    color: var(--coffee-brown);
    min-height: 100vh;
    background-color: var(white);
    font-family: 'DM Sans', 'sans-serif';
}

i {
    color: var(--coffee-brown);
}

h1, h2, h3 {
    font-family: "Oswald", "sans-serif";
}

/* 
Sitewide nav-link styling
*/
.nav-link {
    text-decoration: none;
    color: var(--coffee-brown);
}

.nav-link:visited {
    color: var(--coffee-brown)
}

.nav-link:active {
    color: var(--daisy-yellow)
}

/* list items laid out along main axis */
.horizontal {
    display: flex;
    
}

.horizontal li {
    margin-inline-end: 2rem;
}

/* 
Header styles
*/
.header {
    border-bottom: 1px var(--leafy-green) solid;
    background-color: white;
    
}

.header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
}

h1 {
    font-size: 2rem;
    font-family: "Oswald", 'sans-serif';
    letter-spacing: .15rem;
}

.nav-link span {
    color: var(--daisy-yellow);
}

.header ul li {
    border-bottom: 1.75px solid var(--teapot-teal);
    padding: .3rem;
}

.header ul li:hover {
    border-bottom: 1.75px solid var(--daisy-yellow);
    border-right: 1.75px solid var(--daisy-yellow);
}

.header ul li:last-child {
    margin-inline-end: 0rem;
}

/* 
Footer styles
*/
.footer {
    padding-block-start: .5rem;
    border-top: 1px var(--leafy-green) solid;
    background-color: white;
}

.footer .horizontal {
    justify-content: space-around;
    flex-flow: row wrap;
}

.footer li {
    border: 1.5px solid var(--teapot-teal);
    padding: .5rem .75rem;
}

.footer li:hover,
.footer li:focus {
    border: 1.5px solid var(--daisy-yellow)
}

.footer li:active {
    color: var(--leafy-green)
}

#social-holder {
    border: none;
    padding-left: 0rem;
}

#social {
    display: flex;
    justify-content: center;
    border: none;
}

#social li {
    border: none;
    margin-right: 5px;
    padding: .25rem;
}


/* 
LandingPage styles
*/
.landing-page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background-image: url("../assets//images/desk-2325627_1280.jpg");
    background-size: cover;    
}

.landing-page h2 {
    font-weight: 700;
    font-size: 6rem;
    color: var(--leafy-green);
    letter-spacing: .25rem;
    margin-bottom: 1rem;
    text-shadow: #090201;
}

.landing-page h3 {
    margin-top: 0rem;
    font-family: 'DM Serif Display', 'serif';
    letter-spacing: .25rem;
    font-size: 2rem;
}

.landing-page ul {
    margin-top: 0rem;
}

.landing-page li {
    margin-right: 1rem;
}

/* 
AboutPage styles
*/
.about-page {
    /* background-color: white; */
    /* min-height: 75vh; */
    background-image: url("../assets/images/desk-2325627_1920.jpg");
    background-size: cover; 
    display: grid;
    place-content: center;
}

.about-page .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    grid-auto-rows: 50%;
    padding: 2rem;
    align-items: center;
    place-content: center;
    margin: 0 auto;
    /* max-width: 75%; */
    background-color: rgba(255, 255, 255, .75);
    box-shadow: 25px 25px 15px rgba(37, 37, 37, 0.1);
}

.grid > *:nth-child(even) {
    border-left: 1px solid var(--notebook-gray);
}

.about-page h2 {
    text-align: center;
    margin-right: 2rem;
    font-size: 5rem;
    letter-spacing: .25rem;
}

.about-page .summary p {
    color: var(--coffee-brown);
    line-height: 1.75;
    padding-inline: 4rem;
}

.about-page .summary > p::first-line {
    font-size: large;
}

.about-page .summary > p::first-letter {
    font-size: 2rem;
}

/* 
Media queries @ 525
*/

@media screen and (max-width: 1036px) { 
    .about-page .grid {
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 659px) {
    .header .drop-down  {
        display: flex;
        flex-direction: column;
    }
    
    .header .drop-down .nav-link {
        flex: 1;
        min-width: 100%;
    }
}
    



